<header class="header">
  <div class="logo">
    <div class="item"><img src="assets/stylePhoto/0.jpg" alt="Fund Symbols" id="logoImg" width="30"></div>
    <hr  class="item">
    <div  class="item">
      <span class="logoDiv"><a href="" id="name" style="margin-top: 20px; position: absolute;">Фонд Символи</a><br>
        <a href="" id="slogan">Втілюй ідеї в реальність</a>
      </span>
    </div>


  </div>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#">Головна</a></li>
    <li><a href="/articles">Проекти</a></li>
    <li><a href="/support">Підтримка</a></li>
    <li><a href="/aboutUs">Про фонд</a></li>
  </ul>
</header>

