<div class="firstP">
  <h1>Творці Інновацій та Доброчинності</h1>
  <p>
    <video class="firstVideo" autoplay loop>
      <source src="assets/stylePhoto/9.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    У самому серці Чернівців, вишуканого культурного міста України, протягом останніх
    років плекається центр інновацій і доброчинності – Фонд "Символи". <br> Наша організація,
    побудована на принципах взаємодопомоги та прогресу. <br> Намагаємося робити важливий внесок у розвиток
    суспільства на різних фронтах. </p>
</div>

<div class="secondP">
  <p>
    <video class="secondVideo" autoplay loop>
      <source src="assets/stylePhoto/4.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    Фонд "Символи" відомий своєю відкритістю до новаторських ідей.  <br> Ми надаємо підтримку стартапам,
    що розгортаються в різних галузях, від розробки програмного забезпечення на базі штучного
    інтелекту до новітніх технологій дронів. <br> Це місце, де талановиті підприємці знаходять не
    лише фінансову підтримку, але й цінну експертну думку, що допомагає їхнім ідеям стати реальністю.
    <br><br> Фонд "Символи" є яскравим прикладом того, як інновації та доброчинність можуть взаємодіяти для
    досягнення важливих цілей. <br> Його діяльність сприяє розвитку технологій та спільнот, покращенню якості
    життя та створенню позитивних змін в суспільстві.
  </p>
</div>


