<div id="mz-gallery-container">

  <div id="mz-gallery">

    <figure>
      <img src="assets/directionsSliderPhoto/1.jpg" alt="Statue of Liberty" width="700" height="700">
      <figcaption>3Д принтери</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/2.jpg" alt="Night Sky" width="700" height="700">
      <figcaption>Тренінг для студентів ЧНУ</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/3.jpg" alt="Ravine Between Rocks" width="700" height="700">
      <figcaption>День молоді</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/4.jpg" alt="Wheat Farm" width="700" height="700">
      <figcaption>Співпраця у Грузії</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/5.jpg" alt="City Street" width="700" height="700">
      <figcaption>Системи скиду для дронів</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/6.jpg" alt="Crumbling Pier" width="700" height="700">
      <figcaption>Інвест форум 2022</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/7.jpg" alt="Foggy Mountains" width="700" height="700">
      <figcaption>'Кіберкозаки' 😊 </figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/8.jpg" alt="Dense Forest" width="700" height="700">
      <figcaption>Львів</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/9.jpg" alt="Sunset Over Mountains" width="700" height="700">
      <figcaption>Співпраця з студентами</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/10.jpg" alt="SUV in Front of Building" width="700" height="700">
      <figcaption>Навіть у блекаут і в холод ми працюємо)))</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/11.jpg" alt="Classic Vehicle" width="700" height="700">
      <figcaption>Робота над дроном</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/12.jpg" alt="Stacked Rocks" width="700" height="700">
      <figcaption>Матеріали для павербенків</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/13.jpg" alt="Brick Wall" width="700" height="700">
      <figcaption>Наші павербенки</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/14.jpg" alt="Waterfront" width="700" height="700">
      <figcaption> Студенти на практиці </figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/15.jpg" alt="Overgrown Buildings" width="700" height="700">
      <figcaption>Проект 'Лицарі Буковини'</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/16.jpg" alt="Dying Trees" width="700" height="700">
      <figcaption>Розповідаємо дітям про дрони</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/17.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Ростислав з дронами (ремонт)</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/18.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Спаяні одноразові сигарени</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/19.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Тренінг для дітей про штучний інтелект</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/20.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Україно-румунський форум</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/21.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Фото з представниками ЧНУ</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/22.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Київ</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/23.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Львів</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/24.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Львів, Західноукраїнський форум</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

    <figure>
      <img src="assets/directionsSliderPhoto/25.jpg" alt="Ocean View" width="700" height="700">
      <figcaption>Павербенки</figcaption>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </figure>

  </div>

</div>
