<app-header></app-header>
<br><br><br><br><br><br>
<body>
<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">
      Фонд Символи - це організація, що має на меті підтримку та підвищення якості життя військових та волонтерів. <br>
      Ми розробляємо і впроваджуємо інноваційні рішення, щоб надати допомогу тим, хто захищає нашу країну
      та сприяти зміцненню патріотичного духу в суспільстві.
    </p>
    <div class="skills">
      <span>3D друк</span>
      <span>Дрони</span>
      <span>Power Bank</span>
    </div>
  </div>
</div>
</body>

<app-footer></app-footer>
