<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-header></app-header>

<div class="landing_page">
  <div class="responsive-container-block big-container">
    <div class="responsive-container-block container">
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 left-one">
        <div class="content-box">
          <p class="text-blk section-head">
            Фонд Символи
          </p>
          <p class="text-blk section-subhead">
            спеціалізована організація, що займається розвитком різноманітних інноваційних проєкт
          </p>
          <div class="icons-container">
            <a class="share-icon">
              <img width="64" height="64" src="https://img.icons8.com/sf-black-filled/64/FFFFFF/address.png" alt="address"/>
            </a>
            <a class="share-icon">
              <img width="64" height="64" src="https://img.icons8.com/sf-black-filled/64/FFFFFF/phone.png" alt="phone"/>
            </a>
            <a class="share-icon">
              <img width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/FFFFFF/new-post--v1.png" alt="new-post--v1"/>
            </a>
            <a class="share-icon">
              <img width="64" height="64" src="https://img.icons8.com/external-creatype-glyph-colourcreatype/64/FFFFFF/external-interface-essential-ui-v2-creatype-glyph-colourcreatype.png" alt="external-interface-essential-ui-v2-creatype-glyph-colourcreatype"/>
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6 right-one" id="i1zj">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d165.97862331083107!2d25.94581209486729!3d48.27095623694849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473408cf19efffff%3A0xe277fb22cd053906!2z0JrQstCw0LTRgNCw0YI!5e0!3m2!1suk!2sua!4v1693925442114!5m2!1suk!2sua"
                width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
