<div class="slider">
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div
    class="slide">
    <img src="image17.jpg" alt="Night Sky" width="100%" height="600">

    <h4 class="slideTitle" style="margin-top: -600px">{{getCurrentSlideDate() | date}}</h4>
    <h1 class="slideTitle"><a routerLink="/articles/{{getCurrentSlideId()}}">{{getCurrentSlideTitle()}}</a></h1>
  </div>
  <div class="dotsContainer">
    <div
      *ngFor="let slide of page.content; let slideIndex = index"
      class="dot"
      (click)="goToSlide(slideIndex)"
    >
      ●
    </div>
  </div>
</div>
