<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Фонд Символи</h3>

    <p class="footer-links">
      <a href="#" class="link-1">Головна</a>

      <a href="/aboutUs">Про фонд</a>

      <a href="/articles">Проекти</a>

      <a href="/support">Підтримка</a>

    </p>

    <p class="footer-company-name">Фонд Символи © 2023</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>вул. Українська, 22</span> Чернівці, Україна</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+380 99 092 6302</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:fsymvoly@gmail.com">fsymvoly@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Про фонд</span>
      спеціалізована організація, що займається розвитком різноманітних інноваційних проєкт
    </p>

    <div class="footer-icons">

      <a href="https://www.facebook.com/fsymvoly/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a routerLink="/createArticle"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
