<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Креатив
        </div>
        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            знаходимо оригінальні рішення, відхиляємось від традиційних схем мислення
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          AI
        </div>

        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            розробляємо ПЗ, здатне виконувати завдання, які зазвичай потребують людського інтелекту
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          3D-друк
        </div>

        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            друк деталей і механізмів з різними механічними властивостями за один процес складання
          </span>
        </div>
      </a>
    </div>

    <div class="ag-courses_item">
      <a class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          Дрони
        </div>

        <div class="ag-courses-item_date-box">
          <span class="ag-courses-item_date">
            cтворюємо, ремонтуємо, удосконалюємо дрони військового чи цивільного призначення
          </span>
        </div>
      </a>
    </div>

  </div>


</div>
