<app-header></app-header>
<!--start section content... -->
<body>
<div class="postDiv">

  <h1>Правила сайту</h1>

  <h3>Ми докладаємо багато зусиль, щоб зробити сайт зручним, а атмосферу на ньому приємною та доброзичливою,
    але без вашої допомоги нам цього не досягти.
    Ознайомтеся з простими правилами, які допоможуть уникнути неприємних ситуацій:</h3>

  <!------start `Publication` section----->
  <h2>Публікації</h2>
  <hr class="hr">

  <p><b style="color: #65bdb5">Ви можете </b>публікувати:</p>
  <div class="block">
    <img src="assets/checkMark.png">
    <p class="pRules"><b>Статті чи інформацію, написані вами;</b><br>
      Написаний вами текст повинен бути попередньо перевірений на помилки і відформатований відповідно до правил вашої мови.</p>
  </div>

  <div class="block">
    <img src="assets/checkMark.png">
    <p class="pRules"><b>Переклади статей чи публікацій з іноземних мов (тільки з дозволу автора!);</b><br>
      Власний переклад з іноземної мови. Дозвіл автора на публікацію необхідно отримати заздалегідь.</p>
  </div>

  <p><b style="color: #C24332">Заборонено </b>до публікації:</p>
  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Тексти, написані іншими, скопійовані з Інтернету. Ні під яким приводом і в будь-якій формі;</b><br></p>
    <ul class="ulRules">
      <li>Навіть написання в шапці «стаття не моя."</li>
      <li>Навіть з дозволу автора.</li>
      <li>Це не жарт. Порушення цього правила може призвести до блокування сайту.</li>
      <li></li>
    </ul>

  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Флуд, спам і образливі та/або провокаційні тексти;</b><br>
      Не піддавайтеся спокусі обдурити читачів або опублікувати щось, що не відповідає формату ресурсу загалом.
      Такі публікації будуть видалені, а до порушників будуть застосовані відповідні санкції.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Статті, що торкаються останніх світових трагедій і політичних конфліктів;</b><br>
      Не має значення, з якою метою писалась стаття – не варто використовувати для створення своїх статей
      останні трагедії, це як мінімум нетактовно по відношенню до тих, хто міг від них постраждати.
      Якщо ви хочете написати текст про історичні події, почекайте мінімум півроку з моменту стабілізації ситуації.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Думки про події або описи свого життя, схожі на записи в особистому щоденнику;</b><br>
      Стаття — науковий або публіцистичний твір невеликого розміру. Записи типу «Я встав о 8 ранку і
      пішов до школи» краще залишити для особистого щоденника.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Збірки цитат, висловів, анекдотів, постів, журналів;</b><br>
      Публікувати статтю на основі цитат можна, але тільки за умови, що це буде ваше авторське дослідження на їх основі,
      а не просто добірка зі злими коментарями. Актуальність кожної такої статті вирішується індивідуально.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Переклади пісень;</b><br>
      Неважливо, римується воно чи ні, це не стаття.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Незавершені роботи з посиланням на продовження на сторонньому ресурсі.</b><br>
      Приклад: ось перший розділ, решту читайте за посиланням.</p>
  </div>

  <div class="blockF">
    &nbsp;<img src="assets/prohibited.png">
    <p class="pRules"><b>Дубльовані роботи.</b><br>
      Публікація одного і того ж тексту (з одного профілю чи з різних) засмічує сайт та породжує плутанину.
      Заборона поширюється на всі статті, у тому числі у співавторстві.</p>
  </div>

  <!------start `Other` section----->
  <h2>Інше</h2>
  <hr class="hr">
  <p><b style="color: #65bdb5">Дозволено </b>:</p>

  <div class="blockF" style="margin-bottom: 100px">
    <img src="assets/checkMark.png">
    <p class="pRules"></p>
    <ul class="ulRules">
      <li>Діліться посиланнями для роботи на особистих сторінках, в соціальних мережах, тематичних групах і так далі;</li>
      <li>Організація тематичних заходів (конкурсів, інтерактивів тощо) у соціальних мережах та інших платформах;</li>
      <li>Брати участь у тематичних заходах (конкурсах, інтерактивах тощо) у соціальних мережах та на інших платформах;</li>
      <li>Брати участь у бартерних заходах, що вимагають обов'язкового ознайомлення з роботою (біржі рецензій, марафони критики тощо).</li>
    </ul>
  </div>


</div>



</body>

