*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin-bottom: -150px;
}

.menu{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  width: 1140px;
  height: 156px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

/*******************************************************************/

.postDiv{
  margin: auto;
  margin-top: 150px;
  width: 1140px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;

  border: 0.1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 255, 255, 0);
}

/*********************************************/
h1{
  background-color: rgba(194, 67, 50, 0);
  margin-bottom: 10px;

  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;

  color: #C24332;
}

h3{
  background-color: rgba(96, 26, 143, 0);
  margin-bottom: 30px;

  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: #ffffff;

}

h2{
  background-color: rgba(50, 134, 194, 0);
  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: #C24332;
}

.hr{
  width: 1038px;
  border: 1px solid #C24332;
  border-collapse: collapse;
  margin-bottom: 10px;
}

p{
  background-color: rgba(50, 134, 194, 0);
  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.pRules{
  margin-left: 140px;
  margin-top: -100px;
}

.ulRules{
  margin-left: 160px;
  margin-top: 10px;
}

.ulRules li{
  background-color: rgba(50, 134, 194, 0);
  font-family: 'Montserrat Alternates', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.block{
  background-color: rgba(50, 62, 194, 0);
  height: 100px;
  margin-bottom: 20px;
}

.blockF{
  background-color: rgba(50, 62, 194, 0);
  height: 100px;
  margin-bottom: 50px;
}
